html
  head
    title= title
  body
    h1= message
    img(src="https://medialeaks.ru/wp-content/uploads/2018/08/TELEMMGLPICT000172604358_trans_NvBQzQNjv4BqQHW9rhAULCP41yHBq6R2zko5t77v9ebRVDNyUnei9Pw-1.jpg", alt="Текст если нет картинки")
    h2= 'И тут текст'
    a(href="./page2") Ссылка на 2 страницу
